@model MovieProject.Models.Movie

@{
    ViewBag.Title = "Delete Movie";
}

<h1>Delete Movie</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.Title)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Description)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Year)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.ImdbId)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.ImdbId)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.ImdbLink)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.ImdbLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Image)
        </dt>
        <dd>
            <img src="@Model.Image" alt="@Model.Title" style="width: 100px; height: auto;" />
        </dd>
    </dl>

    <h4>Genres</h4>
    <ul>
        @foreach (var movieGenre in Model.MovieGenres)
        {
            <li>@movieGenre.Genre.GenreName</li>
        }
    </ul>
</div>

<form asp-action="Delete" method="post">
    @Html.HiddenFor(m => m.MovieID)
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
